
@media (min-width:0){
  .banner__foto{
    padding: 0;
    width: 70px;
    height: 70px;
    border-radius: 50px 50px 50px 50px;
  }
  
} 

@media (min-width:768px){
  .banner__foto{
    width: 216px;
    height:315.46px;
    border-radius:150px;
    
  }
}