.contacto__titulo{
  
  font-style: inherit;

}
.contacto{
  display: flex;
  flex-direction: column;
  
  background: #EAF2FD;
  background-size: 150px;
}
.contacto__descripcion{
  text-align: left;
  margin: 0;
  
}

.contacto__info{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  border: black;
  margin: 2rem 0 20px;
  align-content: center;
  width: 100%;
}

@media (min-width:0){
  .contacto__titulo{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding-top: 1rem;
  }
  .contacto{
    padding: 2rem;
  }
  
  
}

@media (min-width:768px){
  .contacto__titulo{
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    padding-top: 2rem;

  }
  .contacto{
    padding-left: 10rem;
    padding-right: 10rem;
  }
}