.experiencia__boton{
  background: transparent;
  height: 70px;
  width: 120px;
  padding: 1rem;
  box-sizing: border-box;
  border: 2px solid #2A7AE4;
  color: #2A7AE4;
  text-align: center;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}

.experiencia__boton-demo{
  background: #2A7AE4;
  
  padding: 1rem;
  margin-top: 1rem;
  box-sizing: border-box;
  border: 2px solid #2A7AE4;
  color: white;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.experiencia__boton:hover{
  cursor: pointer;
  background: #2A7AE7;
}

@media (min-width:0){
  .experiencia__boton{
    width: 150px;
    height: 50px;
    
  }
  .experiencia__boton-demo{
    width: 150px;
    height: 50px;
  }
}

@media (min-width:768px){
  .experiencia__boton{
    height: 70px;
    width: 120px;
   
  }
  .experiencia__boton-demo{
    height: 70px;
    width: 120px;
  }
  
}